<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi Tenant | Test</title>
    <style>
        html, body {
            padding: 0;
            margin: 0;
            color: #333;
            font-family: 'Times New Roman', Times, serif;
        }
        nav {
            max-width: 100%;
            display: flex;
            height: 100px;
            background-color: #eee;
            border-bottom: 5px solid #fff;
            padding: 16px;
            justify-content: center;
        }
    </style>
</head>
<body>
    <nav>
        <h1>Multi Tenancy Test</h1>
    </nav>
</body>
</html>